/data/
*.parquet
!reports/eval/eval_set.parquet

*.zip
/docs/narrative.md
__pycache__/
*.pyc
.ipynb_checkpoints/
mlruns/
.env
.venv/
/mlruns/
/mlflow.db
/mlartifacts/
/models/
/serving_data/

# packaging / build artifacts
*.egg-info/
build/
dist/

# pytest
.pytest_cache/